.container {
    display: grid;
    grid-gap: 5px;
    justify-items: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #af8dc3;
    margin: 15px 15px 0px 15px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 10px;
}

input {
  width: 100%;
  border-style: none none solid none;
  text-align: center;
}

/* For Chrome to always show spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#work-time {
    background-color: #D3BDE0;
}

form label {
    display: block;
}

.full-width {
    grid-column: 1 / 3;
}

.footer-text {
    color: #787878;
    padding: 0px;
    margin: 0px;
}